@import './dependency_a.scss';
@import 'partial';

.box {
  color: darken($base, 40%);
  background-color: lighten($base, 40%);
  border: darken($base, 10%) 2px solid;
  padding: 1em;
  margin: 0 auto;
}

body {
    background-color: $background;
    color: $black;
}
